* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: darkslategrey;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#labels {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    pointer-events: none;
    z-index: 10;
}

#labels > div {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    font-size: large;
    user-select: none;
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-head{
    text-align: center;
    padding: 32px;
    color: azure;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#menu-levels{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 32px;
}

.level-button{
    width: 128px;
    height: 128px;
    border-radius: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: darkcyan;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
}

#exit-button {
    position: fixed;
    top: 16px;
    right: 16px;
    padding: 10px 15px;
    color: whitesmoke;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    display: none;
    z-index: 9999;
}

/* pop-up window */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  #popupContent {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    color: black;
    font-weight: 700;
    width: 300px;
  }
  #popupContent h2 {
    margin-bottom: 20px;
  }
  #popupContent button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }